@use "../../foundation/global" as g;

//もと.c-arrow　合併された
.previouspostslink, .nextpostslink {
    display: block;
    border-top: g.vw(1) solid g.$sub_text;
    border-left: g.vw(1) solid g.$sub_text;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    @include g.mq(tab) {
        border-top: g.tabvw(1) solid g.$sub_text;
        border-left: g.tabvw(1) solid g.$sub_text;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        border-top: g.vw(1) solid g.$sub_text;
        border-left: g.vw(1) solid g.$sub_text;
        @include g.mq(tab) {
            border-top: g.tabvw(1) solid g.$sub_text;
            border-left: g.tabvw(1) solid g.$sub_text;
        }            
    }
}

.previouspostslink {
    transform: rotate(-45deg);
}
.nextpostslink {
    transform: rotate(135deg);
}

