@use "../../foundation/global" as g;

.c-button {
    &--submit {
    border: g.vw(1) solid #707070;
    border-radius: g.vw(10);
    background-image: linear-gradient(to bottom right, #F2EDE9, #DED8D3);
    padding: g.vw(12);
    @include g.mq(tab) {
        border: g.tabvw(1) solid #707070;
        border-radius: g.tabvw(10);
        padding: g.tabvw(13);
    }
    @include g.mq(pc) {
        border: g.pcvw(1) solid #707070;
        border-radius: g.pcvw(10);
        padding: g.pcvw(13);
    }
    }
    &--detail {
        background-color: #ffffff;
        border: g.vw(1) solid #ffffff;
        border-radius: g.vw(50);
        color: g.$sub_text;
    }
    &--big {
        border: g.vw(1) solid #707070;
        border-radius: g.vw(20);
        background-image: linear-gradient(to bottom right, #F2EDE9, #DED8D3);
        @include g.mq(tab) {
            border: g.tabvw(1) solid #707070;
            border-radius: g.tabvw(20);
        }
        @include g.mq(pc) {
            border: g.pcvw(1) solid #707070;
            border-radius: g.pcvw(20);
        }
        & a {
            display: block;
        }
    }
}