@use "../../foundation/global" as g;

.p-blockquote {
    background-color: #F5F5F5;
    margin: g.vw(20);
    padding: g.vw(30) g.vw(20);
    text-align: left;
    @include g.mq(tab) {
        margin: g.tabvw(60);
        padding: g.tabvw(50) g.tabvw(60) g.tabvw(57) g.tabvw(50);
    }
    @include g.mq(pc) {
        margin: g.pcvw(60) g.pcvw(100);
        padding: g.pcvw(50) g.pcvw(60) g.pcvw(47) g.pcvw(50);
    }
    & a {
        color: #4A6C9B;
        text-decoration: underline;
    }
    &__source {
        @include g.mq(tab) {
            margin-top: g.tabvw(60);
        }
        @include g.mq(pc) {
            margin-top: g.pcvw(60);
        }
    }
}