@use "../../foundation/global" as g;

.wp-block-gallery.is-style-hamburger-gallery  {
    display: flex;
    flex-direction: column;
    gap: g.vw(20);
    @include g.mq(tab) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }
    & > figure {
        width: g.vw(335);
        height: g.vw(205);
        @include g.mq(tab) {
            flex-grow: 0;
            width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)/2);
            height: g.tabvw(205);
        }
        @include g.mq(pc) {
            width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px)*.66667);
            height: g.pcvw(257);
        }
        & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        //最後の画像にはmargin-bottomつけない
        &:not(:last-child) {
            @include g.mq(tab) {
                margin-bottom: g.tabvw(20);
            }
            @include g.mq(pc) {
                margin-bottom: g.pcvw(20);
            }            
        }
    }
}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
    width: g.vw(335);
    @include g.mq(tab) {
        width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)/2);
    }
    @include g.mq(pc) {
        width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px)*.66667);
    }
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
    flex-grow: 0;
}