@use "../../foundation/global" as g;

.p-strong {
    &__wrapper {
        text-align: left;
        margin-left: g.vw(20);
        padding-bottom: g.vw(69);
        @include g.mq(tab) {
            margin-left: g.tabvw(60);
            padding-bottom: g.tabvw(149);
        }
        @include g.mq(pc) {
            margin-left:g.pcvw(100);
            padding-bottom: g.pcvw(274);
        }
    }
}