@use "../../foundation/global" as g;

.wp-block-image.is-style-big-image {
        margin: 0;
        height: g.vw(124);
        @include g.mq(tab) {
            height: g.tabvw(264);
        }
        @include g.mq(pc) {
            height: g.pcvw(500);
        }
    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: 50% 77%;
        @include g.mq(tab) {
            object-position: 50% 80%;
        }
    }
}

.p-singleImg--small {
    object-fit: cover;
    width: 100%;
    height: 100%;
    &__wrapper {
        margin: g.vw(30) auto;
        width: g.vw(267);
        height: g.vw(166);
        @include g.mq(tab) {
            margin: g.tabvw(60) auto;
            margin-bottom: g.tabvw(240);
            width: g.tabvw(581);
            height: g.tabvw(358);
        }
        @include g.mq(pc) {
            margin: g.pcvw(60) auto;
            width: g.pcvw(581);
            height: g.pcvw(358);
        }
    }
}